<p id="notice"><%= notice %></p>

<div id="question">
  <%= textile @question.content %>
</div>
<div id="answers">
  <ul>
    <% @question.answers.each do |answer| %>
      <%= render :partial => "answers/answer", :locals => { :answer => answer } %>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_question_path(@question) %>
